
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../css/style.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
<script type="text/javascript" src="../javascript/jsADM003.js"></script>
<title>ユーザ管理</title>
</head>
<body>
	<!-- Begin vung header -->	
		<div>			
			<div>
			<table>
			<tr>
			<td width = "80%"><img src="../images/logo-manager-user.gif" alt="Luvina" /><td>
			<td align="left"><a href = "ADM001.html">ログアウト</a> &nbsp; <a href = "ADM002.html">トップ</a><td>
			</tr>
			</table>
			</div>
		</div>

<!-- End vung header -->	

<!-- Begin vung input-->	
	<form action="/ADM003" th:object="${userInfor}" method="post" name="inputform">
		<input type="hidden" name="userId" th:value="${userInfor.userId}">
	<table  class="tbl_input"   border="0" width="75%"  cellpadding="0" cellspacing="0" >
		<tr>
			<th align="left">
				<div style="padding-left:100px;">
					会員情報編集
				</div>
			</th>			
		</tr>		
		<tr>
			<td class="errMsg">
				<div style="padding-left:120px" th:if="${not #lists.isEmpty(listError)}">
					<th:block th:each="error : ${listError}">
						<p>
							<label>
								<font class="red" th:text="${error}"></font>
							</label>
						</p>
					</th:block>
				</div>
			</td>
		</tr>
		<tr>
			<td align="left" >
				<div style="padding-left:100px;">
					<table border="0" width="100%" class="tbl_input" cellpadding="4" cellspacing="0" >					
					<tr>
						<td class="lbl_left"><font color = "red">*</font> アカウント名:</td>
						<td align="left">
							<input class="txBox" type="text" name="userName" th:field="*{userName}" th:value="${userInfor.userName}"
							size="15" onfocus="this.style.borderColor='#0066ff';"
							onblur="this.style.borderColor='#aaaaaa';" />
						</td>
					</tr>
					<tr>
						<td class="lbl_left"><font color = "red">*</font> グループ:</td>
						<td align="left">						
							<select name="groupID" th:field="*{groupId}">
								<th:block th:each="group : ${listGroup}">
									<option th:if="${group.groupId == userInfor.groupId}" selected="selected" th:text="${group.groupName}" th:value="${group.groupId}"></option>
									<option th:unless="${group.groupId == userInfor.groupId}" th:text="${group.groupName}" th:value="${group.groupId}"></option>
								</th:block>
							</select>							
							<span>&nbsp;&nbsp;</span>
						</td>
					</tr>
					<tr>
						<td class="lbl_left"><font color = "red">*</font> 氏名:</td>
						<td align="left">
						<input class="txBox" type="text" name="fullName" th:field="*{fullName}" th:value="${userInfor.fullName}"
							size="30" onfocus="this.style.borderColor='#0066ff';"
							onblur="this.style.borderColor='#aaaaaa';" />							
						</td>
					</tr>
					<tr>
						<td class="lbl_left">カタカナ氏名:</td>
						<td align="left">
						<input class="txBox" type="text" name="fullNamesOfKana" th:field="*{fullNameKana}" th:value="${userInfor.fullNameKana}"
							size="30" onfocus="this.style.borderColor='#0066ff';"
							onblur="this.style.borderColor='#aaaaaa';" />							
						</td>
					</tr>	
					<tr>
						<td class="lbl_left"><font color = "red">*</font> 生年月日:</td>
						<td align="left">
								<select name="yearOfBirth" th:field="*{iBirthYear}">
									<th:block th:each="year : ${listYear}">
										<option th:if="${year == userInfor.iBirthYear}" selected="selected" th:text="${year}" th:value="${year}"></option>
										<option th:unless="${year == userInfor.iBirthYear}" th:text="${year}" th:value="${year}"></option>
									</th:block>
								</select>年
								<select name="monthOfBirth" th:field="*{iBirthMonth}">
									<th:block th:each="month : ${listMonth}">
										<option th:if="${month == userInfor.iBirthMonth}" selected="selected" th:text="${month}" th:value="${month}"></option>
										<option th:unless="${month == userInfor.iBirthMonth}" th:text="${month}" th:value="${month}"></option>
									</th:block>
								</select>月
								<select name="dayOfBirth" th:field="*{iBirthday}">
									<th:block th:each="day : ${listDay}">
										<option th:if="${day == userInfor.iBirthday}" selected="selected" th:text="${day}" th:value="${day}"></option>
										<option th:unless="${day == userInfor.iBirthday}" th:text="${day}" th:value="${day}"></option>
									</th:block>
								</select>日							
						</td>
					</tr>				
					<tr>
						<td class="lbl_left"><font color = "red">*</font> メールアドレス:</td>
						<td align="left">
							<input class="txBox" type="text" name="email" th:value="${userInfor.email}" th:field="*{email}"
							size="30" onfocus="this.style.borderColor='#0066ff';"
							onblur="this.style.borderColor='#aaaaaa';" />							
						</td>
					</tr>
					<tr>
						<td class="lbl_left"><font color = "red">*</font>電話番号:</td>
						<td align="left">
						<input class="txBox" type="text" name="telephone" th:value="${userInfor.telephone}" th:field="*{telephone}"
							size="30" onfocus="this.style.borderColor='#0066ff';"
							onblur="this.style.borderColor='#aaaaaa';" />						
						</td>
					</tr>
					<tr>
						<td class="lbl_left"><font color = "red">*</font> パスワード:</td>
						<td align="left">
							<input class="txBox" type="password" name="password" th:value="${userInfor.password}" th:field="*{password}"
							size="30" onfocus="this.style.borderColor='#0066ff';"
							onblur="this.style.borderColor='#aaaaaa';" />							
						</td>
					</tr>
					<tr>
						<td class="lbl_left">パスワード（確認）:</td>
						<td align="left">
							<input class="txBox" type="password" name="authenticatedPassword" th:value="${userInfor.authenticatedPassword}" th:field="*{authenticatedPassword}"
							size="30" onfocus="this.style.borderColor='#0066ff';"
							onblur="this.style.borderColor='#aaaaaa';" />							
						</td>
					</tr>
					<tr>
						<th align="left" colspan = "2" >							
								<a href = "#" id="clickHiddenOrVisible">日本語能力</a>
						</th>			
					</tr>
	</table>
	<table id="hiddenTag">
					<tr>
						<td class="lbl_left">資格:</td>
						<td align="left">
							<select name="codeLevel" th:field="*{codeLevel}" >
								<option value="">選択してください</option>
								<th:block th:each="level : ${listLevel}">
									<option th:if="${level.codeLevel == userInfor.codeLevel}" selected="selected" th:text="${level.codeLevel}" th:value="${level.codeLevel}"></option>
									<option th:unless="${level.codeLevel == userInfor.codeLevel}" th:text="${level.codeLevel}" th:value="${level.codeLevel}"></option>
								</th:block>
							</select>							
						</td>
					</tr>
					<tr>
						<td class="lbl_left">資格交付日: </td>
						<td align="left">
							<select name="iStartYear" th:field="*{iStartYear}" >
								<th:block th:each="year : ${listYear}">
									<option th:if="${year == userInfor.iStartYear}" selected="selected" th:text="${year}" th:value="${year}"></option>
									<option th:unless="${year == userInfor.iStartYear}" th:text="${year}" th:value="${year}"></option>
								</th:block>
							</select>年
							<select name="iStartMonth" th:field="*{iStartMonth}">
								<th:block th:each="month : ${listMonth}">
									<option th:if="${month == userInfor.iStartMonth}" selected="selected" th:text="${month}" th:value="${month}"></option>
									<option th:unless="${month == userInfor.iStartMonth}" th:text="${month}" th:value="${month}"></option>
								</th:block>
							</select>月
							<select name="iStartDay" th:field="*{iStartDay}">
								<th:block th:each="day : ${listDay}">
									<option th:if="${day == userInfor.iStartDay}" selected="selected" th:text="${day}" th:value="${day}"></option>
									<option th:unless="${day == userInfor.iStartDay}" th:text="${day}" th:value="${day}"></option>
								</th:block>
							</select>日
						</td>
					</tr>
					<tr>
						<td class="lbl_left">失効日: </td>
						<td align="left">
							<select name="iEndYear" th:field="*{iEndYear}">
								<th:block th:each="year : ${listYear}">
									<div th:switch="${year}">
										<option th:if="${year == userInfor.iEndYear}" selected="selected" th:text="${year}" th:value="${year}"></option>
										<option th:unless="${year == userInfor.iEndYear}" th:text="${year}" th:value="${year}"></option>
									</div>
								</th:block>
								</select>年
							<select name="iEndMonth" th:field="*{iEndMonth}">
								<th:block th:each="month : ${listMonth}">
									<option th:if="${month == userInfor.iEndMonth}" selected="selected" th:text="${month}" th:value="${month}"></option>
									<option th:unless="${month == userInfor.iEndMonth}" th:text="${month}" th:value="${month}"></option>
								</th:block>
							</select>月
								<select name="iEndDay" th:field="*{iEndDay}">
									<th:block th:each="day : ${listDay}">
										<option th:if="${day == userInfor.iEndDay}" selected="selected" th:text="${day}" th:value="${day}"></option>
										<option th:unless="${day == userInfor.iEndDay}" th:text="${day}" th:value="${day}"></option>
									</th:block>
								</select>日							
						</td>
					</tr>
					<tr>
						<td class="lbl_left">点数: </td>
						<td align="left">
							<input class="txBox" type="text" name="total" th:field="*{total}" th:value="${userInfor.sTotal}"
							size="5" onfocus="this.style.borderColor='#0066ff';"
							onblur="this.style.borderColor='#aaaaaa';" />							
						</td>
					</tr>									
				</table>
				</div>				
			</td>		
		</tr>
	</table>
	<div style="padding-left:100px;">&nbsp;</div>
		<!-- Begin vung button -->
	<div style="padding-left:45px;">
	<table border="0" cellpadding="4" cellspacing="0" width="300px">	
		<tr>
			<th width="200px" align="center">&nbsp;</th>
				<td>
					<input class="btn" type="submit" value="確認" />
				</td>	
				<td>
					<input class="btn" type="button" value="戻る" th:onclick="|window.location.href='@{/ADM002}'|"/>
				</td>
		</tr>		
	</table>
	<!-- End vung button -->	
</form>
<!-- End vung input -->

<!-- Begin vung footer -->
<div class = "lbl_footer">
	<br><br><br><br>
			Copyright ©　2010　ルビナソフトウエア株式会社. All rights reserved.
</div>
<!-- End vung footer -->
</body>

</html>