
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <title>ユーザ管理</title>
</head>
<body align="center" >
<!--Đường dẫn check của spring security la login-->
<form name='loginForm' th:action="@{/login}" method="post">
    <center>
        <table class="tbl_input" cellpadding="4" cellspacing="0" width="400px">
            <tr>
                <th width="120px">&nbsp;</th><th></th>
            </tr>
            <tr>
                <th colspan="2" align="left">Enter your account name and password</th>
            </tr>

            <tr>
                <td class="errMsg" colspan="2">
                    &nbsp;
                    <div th:if="${error}">
                        <div class="alert alert-danger">
                            <span th:text ="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></span>
                            <h1 th:text="${error}"></h1>
                        </div>
                    </div>
                </td>
            </tr>
            <tr align="left">
                <td class="lbl_left">account name:</td>
                <td align="left">
                    <input class="txBox" type="text" id="username" name="username" value="" size="20" onfocus="this.style.borderColor='#0066ff';"
                           onblur="this.style.borderColor='#aaaaaa';" />
                </td>
            </tr>
            <tr>
                <td class="lbl_left">password:</td>
                <td align="left">
                    <input class="txBox" type="password" id="password" name="password" value=""	size="22" onfocus="this.style.borderColor='#0066ff';"
                           onblur="this.style.borderColor='#aaaaaa';" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="left">
                    <!--<input class="btn btn_wider" type="submit" value="Log in" />-->
                    <button type="submit" name="login-submit"
                            id="login-submit" class="btn">Log in</button>
                </td>
            </tr>
        </table>
    </center>
</form>
</body>
</html>